
/* ================================================
section of about with timeline
================================================ */
.sec4 {
	display:flex; 
	margin-top:80px;
	flex-direction: column;
	flex: 1 0 auto;
	/* need to increase section height to expand the border 
	when screen width goes smaller*/
	height: 100%;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.wrap-row {
  	display: grid;
  	grid-template-rows: 60px repeat(2, 2fr);
  	grid-template-columns: repeat(4, 1fr);
  	grid-gap: 1.5rem;
  	width: 60vw;
 	min-height: 65vh;
 	padding: 3rem 5rem;
  	border: 5px solid #3f5c76;
  	background:#e9ecf1;	
}

.wrap-row > div {
	/*border: 2px solid orange;*/
  	font-family: 'Montserrat', Arial, sans-serif;
}

.wrap-row>.grid-n, .wrap-row>.grid-2n {
  	grid-column:1/5;
  	justify-content:start;
  	justify-self:start;
  	margin-left:-60px;
  	background: #e9ecf1;  	
}

.grid-n > p {
	font-size: 2rem;
	padding:0 25px;
	font-weight:700;  	
  	color:#3f5c76;  
  	border-radius:15px;
  	border: 1px solid #3f5c76;
}

.grid-2n > p {
	font-size: 2rem;
	padding:0 25px;
	font-weight:700;  	
  	color:#ebebeb;  
  	background:#3f5c76;
  	border-radius:15px;
}

.edu, .exp {
	padding:5px;
}

.edu > p, .exp >p {
	margin-bottom: 2px;
}

.edu> .grid-heading, .exp>.grid-heading, .ri>.grid-heading {
	font-size: 1.4rem;
	font-weight: 700;
	margin-bottom: 25px;
	display:inline-block;	
}

.edu> .grid-heading::after, .exp> .grid-heading::after {
	content:"";
    background-color: #b9e1ff;
    width: 100%;
    content: '';
    display: block;
    height: 10px;
    margin-top: -12px;
}

.grid-1 {
  	grid-column:1/3;
  	grid-row: 2;
}

.grid-2 {
	grid-column:3/5;
  	grid-row: 2;
}
.wrap-exp > .grid-2 {
	grid-column:3/5;
  	grid-row: 2/4;
}
.grid-3 {
  	grid-column:1/3;
  	grid-row: 3;
}

.grid-4 {
	grid-column:3/5;
  	grid-row: 3;
}

.wrap-ri {
	grid-template-rows: 60px 1fr 1fr;
  	grid-template-columns: repeat(4, 1fr);
  	height: 40vh;
}
.wrap-ri >.grid-1 {
	grid-column:1/2;
	grid-row: 2;
}
.wrap-ri >.grid-2 {
	grid-column:2/3;
	grid-row: 2;
}
.wrap-ri >.grid-3 {
	grid-column:3/4;
	grid-row: 2;
}
.wrap-ri >.grid-4 {
	grid-column:4/5;
	grid-row: 2;
}
.wrap-ri >.grid-5 {
	grid-column:1/2;
	grid-row: 3;
}
.wrap-ri >.grid-6 {
	grid-column:2/3;
	grid-row: 3;
}
.wrap-ri > .ri > .grid-heading {
	text-align: center;
	display: block;
}
.wrap-ri >.ri > .grid-heading > span {
	font-size:1.2rem;
	background: rgba(255,250,185,0.8);
	line-height: 1.2em;
}

.footer {
	flex:auto;
	margin:0 0 0 0;
	background:#fff;
	width:100%;
	display: flex;
	height:8vh;
	align-items: flex-end;
	justify-content: center;
}

.footer p {
	margin:100px 0 0 0;
	padding:10px 0 0 0;
	text-transform:uppercase;
	font-size:14px;
	color:#49639f;
	letter-spacing: 0.2em;
}

/* ================================================
responsive
 ================================================*/

@media (min-width: 1154px) and (max-width: 1500px) {

}
@media (min-width: 768px) and (max-width: 1153px) {
    #sidebar {
        margin-left: -150px;
    }
    #sidebar.active {
        margin-left: 0;
    }
	#main-content {
		margin-left:150px;
		width:100%;
	}
	#main-content.active {
		margin-left: 0px;
		width: 100%;
	}
	
	/* research interest grid update*/
	.wrap-row {
		padding:3rem 3rem;
	}
	.wrap-row>.grid-n, .wrap-row>.grid-2n {
		margin-left: -40px;
	}
	.wrap-ri {
		grid-template-rows: 60px 1fr 1fr;
	  	grid-template-columns: repeat(3, 1fr);
	}
	.wrap-ri >.grid-1 {
		grid-column: 1/2;
		grid-row: 2;
	}
	.wrap-ri >.grid-2 {
		grid-column: 2/3;
		grid-row: 2;
	}
	.wrap-ri >.grid-3 {
		grid-column: 3/4;
		grid-row: 2;
	}
	.wrap-ri >.grid-4 {
		grid-column: 1/2;
		grid-row: 3;
	}
	.wrap-ri >.grid-5 {
		grid-column: 2/3;
		grid-row: 3;
	}
	.wrap-ri >.grid-6 {
		grid-column: 3/4;
		grid-row: 3;
	}
	.wrap-ri > .ri > .grid-heading {
		font-size: 1.1em;
	}

}
@media (min-width: 486px) and (max-width: 767px) {
    #sidebar {
        margin-left: -150px;
    }
    #sidebar.active {
        margin-left: 0;
    }
	#main-content {
		margin-left:0px;
		width:100%;
	}
	#main-content.active{
		margin-left: 0px;
		width: 100%;
	}
	.wrap-row {
	  	display: grid;
	  	grid-template-rows: 60px repeat(auto-fill, 1fr);
	  	grid-template-columns: 1fr;
	  	grid-gap: 1.5rem;
	  	width: 70vw;
	 	min-height: 65vh;
	 	padding: 2rem 4rem;
	  	border: 5px solid #3f5c76;
	  	background:#e9ecf1;	
	}
	.wrap-row>.grid-n, .wrap-row>.grid-2n {
	  	grid-column:1/2;
	  	justify-content:start;
	  	justify-self:start;
	  	/*margin-left:-60px;*/
	  	background: #e9ecf1;  
	}
	.wrap-row>.grid-n>p, .wrap-row>.grid-2n>p {
		font-size: 1.4rem;			
	}
	.wrap-edu>.edu, .wrap-exp>.exp {
		grid-column:1/-1;
		grid-row: auto;
	}

	.wrap-ri {
		grid-template-rows: 60px repeat(6,1fr);
	  	grid-template-columns: 1fr;
	  	height: 90vh;
	}
	.wrap-ri >.grid-1 {
		grid-column:1/2;
		grid-row: 2;
	}
	.wrap-ri >.grid-2 {
		grid-column:1/2;
		grid-row: 3;
	}
	.wrap-ri >.grid-3 {
		grid-column:1/2;
		grid-row: 4;
	}
	.wrap-ri >.grid-4 {
		grid-column:1/2;
		grid-row: 5;
	}
	.wrap-ri >.grid-5 {
		grid-column:1/2;
		grid-row: 6;
	}
	.wrap-ri >.grid-6 {
		grid-column:1/2;
		grid-row: 7;
	}
	.wrap-ri > .ri > .grid-heading {
		font-size: 1.1em;
	}
}
@media (max-width: 485px) {
    .overall-wrap {
		display: flex;
		width: 100%;
		min-width:350px;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.navigate-bar {
		display:block;
		height: 50vh;
		width: 100vw;
		margin:0 20px;
		position:absolute;
		top: 0;
		left:0;
		z-index: 3;
	}
	.navigate-bar >div {
		height:60px;
		width: 100vw;
	}
	.navigate-bar >div> h2 {
		font-size: 18px;
		margin: auto;
	}
	.navigate-bar div h2 p {
		font-size: 15px;
		margin:auto;
	}
	.navigate-bar .sidebar-name > h2{
		font-size: 25px;
		font-weight: 600;
	}
    #sidebar {
        margin-left: 0px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .navigate-bar .social{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-top:10px;
		margin-right: 5px;
		flex-grow:4;
	}
	.navigate-bar .social a:hover{
		margin:-3px 0 0 0;
		
	}
	
	/* Start about section*/
	.sec4 {
		margin-top: 60px;
	}

	#main-content {
		margin:90px 0 0 0;
		width:100%;
		height: 100%;
		position: relative;
		top:300px;
	}
	.wrap-row {
	  	display: flex;
	  	flex-direction: column;
	  	flex-wrap: wrap;
	  	flex: 1 0 auto;
	  	width: 80vw;
	 	min-height: 65vh;
	 	padding: 2rem 1rem;
	  	border: 5px solid #3f5c76;
	  	background:#e9ecf1;	
	}
	.wrap-ri {
		height: 80vh;
	}
	.wrap-row>.grid-n, .wrap-row>.grid-2n {
		margin-left: -5px;		
	}
	.grid-n > p, .grid-2n > p {
		font-size: 1.3rem;
		text-align: center;
	}
	.edu, .exp, .ri {
		width:90%;
		margin-left:15px;
	}
	.edu>.grid-heading, .exp>.grid-heading, .ri>.grid-heading{
		font-size: 1rem;
		margin-bottom: 10px;
	}
	.wrap-ri >.ri > .grid-heading > span {
		font-size:1rem;
		line-height: 1em;
	}
}