
/* ================================================
section of contact
================================================ */

.sec4 {
	display:flex; 
	margin-top:80px;
	flex-direction: column;
	flex: 1 0 auto;
	/* need to increase section height to expand the border 
	when screen width goes smaller*/
	height: 80vh;
	justify-content: center;
	align-items: center;
}

.outer {
	position:relative;
	min-height: 10vh;
	padding: 50px 100px;
	display:flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
	border: 5px solid #3f5c76;
	min-width: 60%;
	background: #f7f7f7;
}

.outer > .info {
	max-width: 800px;
	text-align: left;
	width: 45%;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', Arial, sans-serif;
}

.outer > .info> h2 {
	font-size:36px;
	font-weight: 600;
	color:#212529;
}

.outer > .info> p {
	font-weight: 400;
	color:#212529;
}

.outer > .info > .box {
	position: relative;
	padding: 20px 0;
	display:flex;
}

.outer > .info > .box > .icon {
	min-width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #a9ccec; /*#FFAC00;*/
	font-size: 22px;
}

.outer > .info > .box > .text {
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #212529;
	flex-direction: column;
}

.outer > .info > .box > .text > h3 {
	font-size: 24px;
	font-weight: 600;
}

.contactForm {
	width: 45%;
	padding: 0 40px 0 20px;
	font-family: 'Montserrat', Arial, sans-serif;
}

.contactForm h2 {
	font-size: 36px;
	font-weight: 600;
}

.contactForm .inputbox {
	position: relative;
	width: 100%;
	margin-top: 10px;
}

.contactForm .inputbox input, 
.contactForm .inputbox textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	outline: none;
	box-shadow: none;
}


.contactForm .inputbox span {
	position: absolute;
	left:0;
	padding: 5px 0;
	font-size: 15px;
	margin: 10px 5px;
	color: #757575;
	pointer-events: none;
}

.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox textarea:focus ~ span,
.contactForm .inputbox textarea:valid ~ span {
	display: none;
}

.contactForm .inputbox input[type = "submit"]{
	width: 100px;
	background: #323232;
	color: #fff;
	border: none;
	cursor: pointer;
	padding:5px;
	font-size: 15px;
	font-weight: 650;

}

#status {
	width: 100px;
	text-align: center;
	font-size: 15px;
	font-weight: 650;
	padding:5px;
}

#status.thankyou_message{
	background-color: #FFAC00;
	animation: status 3s ease forwards;
}

/*--  Animate form submit  --*/
@keyframes status{
	0%{
		opacity:1;
		pointer-events: all;
	}
	90%
	{
		opacity:1;
		pointer-events: all;
	}
	100%{
		opacity:0;
		pointer-events: none;
	}
}



@media (min-width: 486px) and (max-width: 767px){
	.sec4{
		height: 100%;
		margin-top: 40px;
	}
	.outer {
		flex-direction: column;
		align-items: center;
		border: none;
		background: #fff;
		padding: 0px;
	}
	.outer > .info,
	.outer > .contactForm {
		max-width: 800px;
		text-align: left;
		width: 90%;
		border: 5px solid #3f5c76;
		background: #f7f7f7;
		margin: 15px 0;
		padding: 15px;
	}

}

@media (max-width: 485px) {
    .sec4 {
        margin-top: 20px;
    }
    .overall-wrap {
		display: flex;
		width: 100%;
		min-width:350px;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.navigate-bar {
		display:block;
		height: 50vh;
		width: 100vw;
		margin:0 20px;
		position:absolute;
		top: 0;
		left:0;
		z-index: 3;
	}
	.navigate-bar >div {
		height:60px;
		width: 100vw;
	}
	.navigate-bar >div> h2 {
		font-size: 18px;
		margin: auto;
	}
	.navigate-bar div h2 p {
		font-size: 15px;
		margin:auto;
	}
	.navigate-bar .sidebar-name > h2{
		font-size: 25px;
		font-weight: 600;
	}
    #sidebar {
        margin-left: 0px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .navigate-bar .social{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-top:10px;
		margin-right: 5px;
		flex-grow:4;
	}
	.navigate-bar .social a:hover{
		margin:-3px 0 0 0;
		
	}
	/* Start contact section*/
	.sec4{
		height: 100%;
	}
	.outer {
		flex-direction: column;
		align-items: center;
		width:92.5%;
		padding:15px;
		border: none;
		background: #fff;
	}
	.outer > .info,
	.outer > .contactForm {
		text-align: left;
		width: 100%;
		border: 5px solid #3f5c76;
		background: #f7f7f7;
		padding: 10px;
	}

	.outer > .info > .box {
		position: relative;
		padding: 20px 0;
		display:flex;
		align-items: center;
	}

	.outer > .info > .box > .text {
		margin-bottom: 0px;
	}
		.outer > .info > .box > .text >p{
		margin-bottom: 0px;
	}

	.outer > .info> h2 {
		font-size:24px;
		font-weight: 600;
	}

	.outer > .info > .box > .text > h3 {
		font-size: 18px;
		font-weight: 600;
	}

	.contactForm {
		width: 80%;
		padding: 10px;
		margin-top:20px;
	}

	.contactForm h2 {
		font-size:24px;
		font-weight: 600;
	}
}