/*--   post page  --*/

@import url("pygment_highlights.css");

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post-main {
  max-width: 700px;
  margin: 3rem auto;
  padding: 0 1rem;
  font-family: Inter, sans-serif;
  line-height: 1.6;
}

.posts>h1 {
  font-size: 2.5rem;
  font-weight: 550;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
.posts>p {
  font-size: 1.25rem;
  line-height: 1.4em;
  color: #333;
}
.posts>ul {

  line-height: 1.4em;
  color: #333;
}

.posts>.post>p {
  font-size: 1.125em;
}
.posts>.post>ul {
  font-size: 1.125rem;
}

.blog-footer {
  border-top: 1px solid #d5d5d5;
  max-width: 1140px;
  margin:auto;
  padding:40px 0;
  display: flex;
  justify-content: center;
}
.blog-footer ul {
  list-style-type: none;
  padding-left: 0;
  font-size:14px;
  color: #49639f;
}

@media (max-width: 485px){
.blog-footer {
  border-top: 1px solid #d5d5d5;
  font-size: 1.125em;  
  margin:0 25px;
  padding: 0;
}

}