<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>KTChen</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Noto+Sans|Tangerine">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

</head>
<body>
	<div class="overall-wrap">
		<div class="navigate-bar" id="sidebar">
			<ul>
				<li class = "active"><span class="logo"><i class="fas fa-car"></i>KT</span></li>
				<li><a href="#about-page" class="scroll"><span class = "nav-block"><i class="fas fa-id-card-alt"></i><br>About</span></a></li>		
				<li><a href="/blog" class="scroll"><span class = "nav-block"><i class="fas fa-microscope"></i><br>Project</span></a></li>
				<li><a href="/CV" class="scroll"><span class = "nav-block"><i class="fas fa-file-invoice"></i><br>CV</span></a></li>
				<li><a href="#" class="scroll"><span class = "nav-block"><i class="fas fa-paper-plane"></i><br>Contact</span></a></li>
			</ul>
			<div class="copyright">
				<p>&copy Kuan-Ting Chen @ 2020</p>
			</div>
		</div>
		
		<!-- Page Content  -->
		<!-- Sidebar toggle button-->
		<div id = "main-content" class="active">
		<div class="container-fluid">
			<button type="button" id="sidebarCollapse" class="btn btn-info">
				<i class="fas fa-align-left"></i><span></span>
        	</button>
    	</div>
    	<!-- End sidebar toggle button -->

		<section class="sec2" id="top-page">
			<div class="sec2-top row">
			</div>
			<div class="wrap row">
				<!--<div class="col-md-1 col1">

				</div> -->
				<div class="col-md-7 col col2">
					{{content}}
				</div>
				<div class="col-md-3 col col3">
					<div class="gmap">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2917.9299633822366!2d-78.79115838415086!3d43.00080927914908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d373d2261b049f%3A0x2868694d4fc4f56f!2z57SQ57SE5bee56uL5aSn5a245rC054mb5Z-O5YiG5qCh!5e0!3m2!1szh-TW!2sus!4v1545200675375" width="420" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>		
					</div>				
					<div class="desc">
						<a class="email" href="mailto:kchen67@buffalo.edu?subject=Hello">EMAIL</a>
					</div>
					<div class="twit">
						<a class="twitter-timeline" data-width="420px" data-height="400px" data-theme="light" href="https://twitter.com/ktchen0504?ref_src=twsrc%5Etfw">Tweets by ktchen0504</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>
				</div>
				<div class="col-md-1 col col4">
					<div class="container">
						<ul>
							<li><a href="#" target="_blank" class="fab fa-facebook-square fa-2x fb"></a></li>
							<li><a href="https://twitter.com/ktchen0504" target="_blank"class="fab fa-twitter-square fa-2x tw"></a></li>
							<li><a href="http://www.linkedin.com/in/ktchen0504" target="_blank" class="fab fa-linkedin fa-2x ln"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<section class="sec4 about" id="about-page">
			<div class = "timeline-border">
				<div class="timeline">
					<ul>
						<li>
							<div class="content">
								<h3>PhD Work Ongoing</h3>
								<p class="timeline-p">  </p>
							</div>
							<div class="when">
								<h4>DECEMBER 2018</h4>
							</div>
						</li>
						<li>
							<div class="content">
								<h3>SUNY Buffalo</h3>
								<p class="timeline-p"> Starting PhD work...</p>
							</div>
							<div class="when">
								<h4>AUGUST 2015</h4>
							</div>
						</li>
						<li>
							<div class="content">
								<h3>T&UumlV Rheinland Taiwan Ltd.</h3>
								<p class="timeline-p"> Railway Engineer</p>
							</div>
							<div class="when">
								<h4>JUNE 2015</h4>
							</div>
						</li>
						<li>
							<div class="content">
								<h3>National Taiwan University</h3>
								<p class="timeline-p"> Master of Science in Civil Engineering <br> Thesis: Development of the Timetable Performance Evaluation System for Rail Transportation </p>
							</div>
							<div class="when">
								<h4>JUNE 2012</h4>
							</div>
						</li>
						<li>
							<div class="content">
								<h3>National Taiwan University</h3>
								<p class="timeline-p"> Bachelor of Science in Civil Engineering</p>
							</div>
							<div class="when">
								<h4>JUNE 2010</h4>
							</div>
						</li>
						<div style="clear:both;"></div>
					</ul>
				</div>
			</div>	
		</section>
		</div>
	</div>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<script
  	src="https://code.jquery.com/jquery-3.3.1.js"
  	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  	crossorigin="anonymous">
	</script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
	</script>
	
	<!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

	<script>
 		//scrolling script	

		$(document).ready(function() {

			var scrollLink = $('.scroll');

			scrollLink.click(function(e) {
				e.preventDefault();
				$('body, html').animate({
					scrollTop: $(this.hash).offset().top}, 800, function(){
						window.location.hash = $(this.hash);
					});
				//console.log(scrollLink);
			})

    		$('#sidebarCollapse').on('click', function () {
        		$('#sidebar').toggleClass('active');
        		$('#main-content').toggleClass('active');
    		});		
		})

	</script>

</body>
</html>
